// color schema
$color-white:#fff;
$color-platinum:#E6E7E7;
$color-light-gray:#D1D1D1;
$color-fuzzy-wuzzy:#E56353;
$color-ruddy-pink:#D76C69;
$color-spanish-pink:#ECBCBA;
$color-Eerielack-b: #121619;
$color-raisin-black: #222323;
$color-nickel: #6C6E70;
$color-grey-light:#c4cccf17;


//font-sizes
$fz-xx-larg: 70px;
$fz-x-larg: 30px;
$fz-larg: 18px;
$fz-medium: 16px;
$fz-small: 12px;

//font-familys
$ff-roboto:'Roboto', sans-serif;
$ff-playf :'Playfair Display', serif;

//font-weight
$fw-black: 900;
$fw-medium: 500;
$fw-regular: 400;
