.pagination-button {
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: $color-grey-light;
}
.page-item:first-child .page-link {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

.page-link {
  color: $color-Eerielack-b;
}

.page-link:hover {
  z-index: 2;
  color: #060606;
  background-color: #040404;
  border-color: #dee2e6;
  color: white;
}
