.presentation-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 992px) {
    flex-direction: row;
    justify-content: start;
    margin-left: 60px;
  }
  &__img {
    border: 1px solid gray;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
    width: 120px;
  }
}
